<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrightThemeRed</key>
	<string>7E0608</string>
	<key>DarkThemeRed</key>
	<string>97050C</string>
	<key>BrightThemeBlue</key>
	<string>167EFB</string>
	<key>DarkThemeBlue</key>
	<string>58A9F6</string>
</dict>
</plist>
